#vs tmp
*.xml
*.idb
*.pdb
*.ilk
*.db
*.opendb
*.suo
*.tlog
*.log
*.ipch
*.db-wal
*.db-shm

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app